@charset "UTF-8";

@media screen and (min-width: 768px) {
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
    }

    main{
        width: 768px;
        
    }

}